<h1>Bienvenue <%= @user.email %></h1>

<div class="row">
  <div class="col-6" id="index_cars">
    <br>
    <%= link_to "Ajouter un nouveau véhicules", new_cars_path, class: "btn btn-primary" %>
    <h2 class="card-title">Mes Vehicules</h2>
    <%  @cars.each do |car| %>
        <div class="card">
          <div class="container">
            <div class="row">
              <div class="card-body">
                <div class="col-6">
                  <h3><%= car.model %></h3>
                </div>
                <div class="col-6">
                  <div class="btn-group">
                    <%= link_to "Modifier le véhicule", car_path(car), class: "btn btn-secondary" %>
                    <%= link_to "Supprimer le véhicule", destroy_car_path(car), class: "btn btn-danger", method: :delete, data: {confirm: "Etes vous sur de vouloir supprimer le véhicule"} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <br>
  <div class="col-6" id="index_fees">
    <br>
    <%= link_to "Mes frais Kilométrique", new_fees_path, class: "btn btn-primary" %>
    <h2>Mes frais kilométrique</h2>

    <% @fees.each do |fee| %>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= fee.departure %> <%= fee.arrival %></h4>
            <p class="card-text"><%= fee.cost.round(0) %> euros</p>
            <%= link_to "Voir le frais", fee_path(fee), class: "btn btn-primary" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
