<h1>Bienvenue <%= @user.email %></h1>

<div class="row">
  <div class="col-6">
    <br>
    <%= link_to "Ajouter un nouveau véhicules", new_cars_path, class: "btn btn-primary" %>
    <h3>Mes Vehicules</h3>
    <%  @cars.each do |car| %>
        <p><%= car.model %></p>
        <%= link_to "Modifier le véhicule", car_path(car), class: "btn btn-secondary" %>
        <%= form_tag(desactivation_car_path(car), method: :put) do %>
          <%= submit_tag "Supprimer le véhicule", class: "btn btn-danger", data: {confirm: "Etes vous sur de vouloir supprimer le véhicule"} %>
        <% end %>
    <% end %>
  </div>
  <br>
  <div class="col-6">
    <%= link_to "Mes frais Kilométrique", new_fees_path, class: "btn btn-primary" %>
    <h4>Mes frais kilométrique</h4>

    <% @fees.each do |fee| %>
        <p><%= fee.date %></p>
        <p><%= fee.cost %></p>
    <% end %>
  </div>
</div>

