<h1>Créer un nouveau frais kilométrique</h1>

<%= form_for(:fees) do |f| %>

    <%= f.label :date %>
    <br>
    <%= f.date_select :date %>
    <br>
    <%= f.label :departure %>
    <br>
    <%= f.text_field :departure %>
    <br>
    <%= f.label :arrival %>
    <br>
    <%= f.text_field :arrival %>
    <br>
    <%= f.radio_button :type_of_trajet, "0" %> Aller ou Retour
    <br>
    <%= f.radio_button :type_of_trajet, "1" %> Aller-Retour
    <br>
    <%= f.label :car_id %>
    <br>
    <%= f.select :car_id, current_user.cars.collect {|c| [c.model, c.id] } %>
    <br>
    <%= f.label :kilometer %>
    <br>
    <%= f.text_field :kilometer %>
    <br>
    <%= f.submit %>
<% end %>
