<h1>Créer un nouveau frais kilométrique</h1>

<%= form_for(:fees) do |f|  %>

    <%= render 'shared/error_fees' %>

    <div class="form-group">
      <%= f.label :date %>
      <br>
      <%= f.text_field :date, class: "form-control date", data: {lang: 'fr', large_mode: true, format: "d-m-Y"} %>
      <br>
      <%= f.label :departure %>
      <br>
      <%= f.text_field :departure, class: "form-control", id: 'departure'%>
      <br>
      <%= f.label :arrival %>
      <br>
      <%= f.text_field :arrival, class: "form-control", id: 'arrival' %>
      <br>
      <input type="button" onclick="distance()" value="calculer la distance" class="btn btn-info"/>
      <div>
        La distance est de : <div id="output"></div>
        <br>
      </div>
      <%= f.text_field :kilometer, hidden: true, class: "form-control", id: "outputInput" %>
    <div class="form-check">
      <%= f.radio_button :type_of_trajet, 0 %> Aller ou Retour
      <br>
      <%= f.radio_button :type_of_trajet, 1 %> Aller-Retour
      <br>
    </div>
    <div class="form-group">
      <%= f.label :car %>
      <br>
      <%= f.select :car, current_user.cars.activated.collect {|c| [c.model, c.id] }, {prompt: "Please select a car"}, {class: "form-control"} %>
      <br>
      <%= f.file_field :attachment %>
      <br>
      <%= f.submit "Create a new fee", class: "btn btn-primary" %>
    </div>

<% end %>

<script>
    var autocomplete;

    var departureInput = document.getElementById('departure');
    var arrivalInput = document.getElementById('arrival');

    departureAutocomplete = new google.maps.places.Autocomplete(departureInput);
    arrivalAutocomplete = new google.maps.places.Autocomplete(arrivalInput);

    function distance() {
        var departure = departureInput.value;
        var arrival = arrivalInput.value;

        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
            {
                origins: [departure],
                destinations: [arrival],
                travelMode: 'DRIVING'
            }, callback);

        function callback(response, status) {
            if (status == 'OK') {
                var origins = response.originAddresses;
                var outputDiv = document.getElementById('output');
                var outputInput = document.getElementById(('outputInput'))
                var destinations = response.destinationAddresses;

                for (var i = 0; i < origins.length; i++) {
                    var results = response.rows[i].elements;
                    for (var j = 0; j < results.length; j++) {
                        var element = results[j];
                        var distance = element.distance.text;
                        outputDiv.innerHTML = distance
                        outputInput.value = distance
                    }
                }
            }
        }
    }

</script>