<h1>Créer un nouveau frais kilométrique</h1>

<%= simple_form_for @fee do |f| %>

  <%= f.input :date, as: :string , label: "Date du frais" ,input_html: { class: "form-control date", data: { lang: 'fr', large_mode: true, format: "d-m-Y"}} %>
  <%= f.input :departure, label: "Lieu de départ", input_html: { class: "form-control", id: 'departure'} %>
  <%= f.input :arrival, label: "Lieu d'arrivée", input_html: { class: "form-control", id: 'arrival'} %>

  <input type="button" onclick="distance()" value="Calculer la distance" class="btn btn-info" />

  <div>
    La distance est de : <div id="output"></div>
  </div>

  <%= f.input :kilometer, as: :integer, input_html: { class: 'form-control', id: 'outputInput', hidden: true } %>
  <%= f.collection_radio_buttons :type_of_trajet, [[true, 'Allez ou retour'], [false, 'Allez Retour']], :first, :last %>
  <%= f.input :car, as: :select, collection: current_user.cars.activated, label_method: :model %>
  <%= f.input :attachment, as: :file %>
  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>

<script>
    var autocomplete;

    var departureInput = document.getElementById('departure');
    var arrivalInput = document.getElementById('arrival');

    departureAutocomplete = new google.maps.places.Autocomplete(departureInput);
    arrivalAutocomplete = new google.maps.places.Autocomplete(arrivalInput);

    function distance() {
        var departure = departureInput.value;
        var arrival = arrivalInput.value;

        var service = new google.maps.DistanceMatrixService();
        service.getDistanceMatrix(
            {
                origins: [departure],
                destinations: [arrival],
                travelMode: 'DRIVING'
            }, callback);

        function callback(response, status) {
            if (status == 'OK') {
                var origins = response.originAddresses;
                var outputDiv = document.getElementById('output');
                var outputInput = document.getElementById('outputInput');
                var destinations = response.destinationAddresses;

                for (var i = 0; i < origins.length; i++) {
                    var results = response.rows[i].elements;
                    for (var j = 0; j < results.length; j++) {
                        var element = results[j];
                        var distanceKm = element.distance.text;
                        outputDiv.innerHTML = distanceKm;
                        distanceKm = distanceKm.substr(0, distanceKm.length - 3);
                        distanceKm = distanceKm.replace(",", ".");
                        outputInput.value = Number(distanceKm);
                    }
                }
            }
        }
    }

</script>